.cover {
    height: 373px;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    gap: 20px;

    /* For Firefox */
    scrollbar-width: none;

    /* For Webkit-based browsers */
    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .cover-image {
        flex: 0 0 auto;

        img {
            // width: 363px; 
            max-width: 100%;
            height: 343px;
        }
    }
}