.membership {
    width: 100%;
    z-index: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .membership-container {
        position: relative;

        img {
            position: absolute;
            left: 499px;
            top: -172px;
        }

        margin-top: 140px;
        text-align: center;

        h1 {
            margin-bottom: 20px;
            font-size: 60px;
            line-height: 120%;
            letter-spacing: -0.02em;
        }

        p {
            font-weight: 500;
            font-size: 22.65px;
            line-height: 160%;
            text-align: center;
            color: #4D4D4D;
        }

        margin-bottom: 100px;
    }

    .membership-card {
        margin: 0 140px;
        display: flex;
        justify-content: center;
        align-items: center;

        .mCard {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 80px;

            .m_Image {
                margin-bottom: 30px;
            }
            H4 {
                font-weight: 700;
                margin-bottom: 10px;
                font-size: 22.65px;
                line-height: 140%;
                text-align: center;
                letter-spacing: -0.02em;
                color: #000000;
            }

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                text-align: center;
                color: #000000;
            }
        }
    }

    .btn--2 {
        margin-top: 20px;
        width: 184px;
        height: 65px;
        background: #000000;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        color: white;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-bottom: 140px;
    }
}

@media (max-width: 1024px) {
    .membership {
        width: 100%;
    
        .membership-container {
    
            margin-top: 70px;
    
            h1 {
                margin-bottom: 10px;
                font-size: 40px;
                line-height: 100%;
                letter-spacing: -0.02em;
            }
    
            p {
                font-weight: 500;
                font-size: 16.65px;
                line-height: 120%;
            }
    
            margin-bottom: 70px;
        }
    
        .membership-card {
            margin: 0 80px;
            .mCard {
                margin-bottom: 50px;
    
                .m_Image {
                    margin-bottom: 15px;
                }
                H4 {
                    margin-bottom: 7px;
                    font-size: 16.65px;
                    line-height: 120%;
                }
    
                p {
                    font-size: 12px;
                    line-height: 120%;
                }
            }
        }
    
        .btn--2 {
            margin-top: 10px;
            width: 154px;
            height: 45px;
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 70px;
        }
    }
}

@media (max-width: 768px) {
    .membership {
        width: 100%;
    
        .membership-container {
    
            margin-top: 50px;
    
            h1 {
                margin-bottom: 7px;
                font-size: 30px;
            }
    
            p {
                font-size: 13.65px;
                line-height: 120%;
            }
    
            margin-bottom: 50px;
        }
    
        .membership-card {
            margin: 0 30px;
            .mCard {
                margin-bottom: 35px;
    
                .m_Image {
                    margin-bottom: 12px;
                }
                H4 {
                    margin-bottom: 7px;
                    font-size: 12.65px;
                    line-height: 120%;
                }
    
                p {
                    font-size: 11px;
                    line-height: 120%;
                }
            }
        }
    
        .btn--2 {
            margin-top: 10px;
            width: 134px;
            height: 38px;
            font-size: 9px;
            line-height: 12px;
            margin-bottom: 50px;
        }
    }
}