.comment {
    width: 1440px;
    height: 935px;
    background-color: #EDF3F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
    .comment-container {
        position: relative;

        img {
            position: absolute;
            top: -69px;
            left: -99px;
        }

        margin-top: 140px;
        text-align: center;

        h1 {
            margin-bottom: 20px;
            font-size: 60px;
            line-height: 120%;
            letter-spacing: -0.02em;
        }

        p {
            font-weight: 500;
            font-size: 22.65px;
            line-height: 160%;
            text-align: center;
            color: #4D4D4D;
        }

        margin-bottom: 100px;
    }

    .review {
        display: flex;
        height: 400px;
        overflow-x: scroll;
        white-space: nowrap;
        display: flex;
        gap: 20px;
        scrollbar-width: none;
        width: 100%;

        &::-webkit-scrollbar {
            width: 0;
            display: none;
        }

        .review-card {
            background-color: white;
            box-sizing: border-box;
            width: 570px;
            padding: 0 40px;
            border-radius: 8px;

            .review-card-section {
                overflow: hidden;
                width: 490px;
                height: 400px;
                background-color: white;
                padding-top: 40px;

                h1 {
                    font-size: 95.95px;
                    color: #CD4631;
                    line-height: 96px;
                }

                p {
                    white-space: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 300;
                    font-size: 22.65px;
                    line-height: 160%;
                    color: #000000;
                }

                span {
                    display: flex;
                    align-items: center;
                    margin-top: 40px;

                    img {
                        height: 48px;
                        width: 48px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    .logo-spotify {
                        margin-left: 10px;
                        height: 16px;
                        width: 16px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}