.app{
    width: 100%;
    position: relative;
    .bg--3{
        position: absolute;
        top : 3690px;
        left: 705px;
        z-index: 5;
    }

    .bg-4{
        position: absolute;
        top : 76%;
        z-index: 5;
        left: 705px;
    }
}   